.inputItems{
    position: relative;
    top: 140px;
    width: 80%;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.inputItems p{
    position: absolute;
    top: -55px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

.inputItems input{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid black;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 0px;
    font-size: 20px;
    caret-color: #ff8600;
}

.button_orange{
    background-color: #ff8600;
}

.button_purple {
    background-color: #7a2cbfa7;
}

.inputItems button{
    width: 200px;
    margin-left: 20px;
    height: 40px;
    border: 2px solid black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border-radius: 10px;
    font-size: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.inputItems button:active{
    transform: scale(0.9);
}

.fastfood{
    position: absolute;
    top: -70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.line{
    width: 30%;
    height: 3px;
    background-color: #ff8600;
}

.buttons{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 130px;
}

.submit:hover{
    cursor: pointer;
}

.reset:hover{
    cursor: pointer;
}

.submit{
    margin: 20px;
    border: 2px solid black;
    background-color: #80b918;
    width: 30%;
    margin: 20px;
    height: 40px;
    border: 2px solid black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border-radius: 10px;
    font-size: 100%;
    transition: transform 0.2s ease;
}

.reset{
    margin: 20px;
    border: 2px solid black;
    background-color: #e70e02c2;
    width: 30%;
    margin: 20px;
    height: 40px;
    border: 2px solid black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border-radius: 10px;
    font-size: 100%;
    transition: transform 0.2s ease;
}


.inputItems button:hover{
    cursor: pointer;
}

.inputItems input:focus{
    outline: none;
}

.inputItems input::placeholder {
    text-align: center;
    font-size: 20px;
    padding-left: 5px;
}

.submit:active{
    transform: scale(0.9);
}

.reset:active{
    transform: scale(0.9);
}

@media (max-width: 650px){
    .submit{
        width: 40%;
        margin: 20px 12px;
    }

    .reset{
        width: 40%;
        margin: 20px 12px;
    }
}

@media (max-width: 550px){
    .inputItems input::placeholder {
            font-size: 17px;
        }
    .submit {
        width: 50%;
    }
    
    .reset {
        width: 50%;
    }
}

@media (max-width: 400px){
    .inputItems input::placeholder {
        font-size: 14px;
    }
        .submit {
            width: 60%;
        }
    
        .reset {
            width: 60%;
        }
}